.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 40px;
}

.spinner {
  display: inline-block;
  position: relative;
}

.spinner.small {
  width: 40px;
  height: 40px;
}

.spinner.medium {
  width: 64px;
  height: 64px;
}

.spinner.large {
  width: 80px;
  height: 80px;
}

.ring {
  box-sizing: border-box;
  display: block;
  position: absolute;
  border: 3px solid #e50914;
  border-radius: 50%;
  animation: spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #e50914 transparent transparent transparent;
}

.small .ring {
  border-width: 2px;
}

.large .ring {
  border-width: 4px;
}

.ring:nth-child(1) {
  animation-delay: -0.45s;
}

.ring:nth-child(2) {
  animation-delay: -0.3s;
}

.ring:nth-child(3) {
  animation-delay: -0.15s;
}

.small .ring {
  width: 40px;
  height: 40px;
}

.medium .ring {
  width: 64px;
  height: 64px;
}

.large .ring {
  width: 80px;
  height: 80px;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.message {
  color: #999;
  font-size: 16px;
  margin: 0;
  text-align: center;
}

@media (min-width: 768px) {
  .container {
    gap: 20px;
    padding: 60px;
  }

  .message {
    font-size: 18px;
  }
}
